/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styles */
body {
    font-family: Brush Script;
    background-color: #528ce2;
    color: #161616;
}

/* Header Styles */
header {
    background-color: #25acac;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* About Me Section */
#about-me {
    padding: 40px 10%;
    background-color: #ee1111;
    margin-bottom: 20px;
    border-radius: 8px;
}

#about-me h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#about-me p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Hobbies Section */
#hobbies {
    padding: 40px 10%;
    background-color: #5735a8;
    margin-bottom: 20px;
    border-radius: 8px;
}

#hobbies h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#hobbies ul {
    list-style-type: none;
}

#hobbies li {
    font-size: 1.2em;
    margin: 5px 0;
}

/* Personality Section */
#personality {
    padding: 40px 10%;
    background-color: #ca19a4;
    margin-bottom: 20px;
    border-radius: 8px;
}

#personality h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#personality p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #9fda16;
    color: rgb(13, 13, 14);
    position: fixed;
    width: 100%;
    bottom: 0;
}
